<mat-toolbar color="primary" class="nav-bar">
<style type="text/css" media="screen">
A:link {text-decoration: none }
A:visited {color: #fff;  font-family: Roboto; text-decoration: none }
A:hover { color: #fff; font-family: Roboto; text-decoration: none }
*{outline:none !important;}*:focus {outline: none !important;}textarea:focus, input:focus{outline: none !important;}	a{text-decoration: none !important;outline: none !important;}
</style>
    <div><a routerLink="/home" routerLinkActive="active">Inicio</a></div>
    <div>
        <span><a routerLink="/listpelis" routerLinkActive="active">Lista de Peliculas</a></span>
        <span>Lista de Reservas</span>
        <span>Mis Favoritas</span>
        <span><a routerLink="/register" routerLinkActive="active">Iniciar Sesion</a></span>
    </div>
</mat-toolbar>

